<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ab5a871c-cdb2-45d8-b573-0a68fc9f410a/resourcegroups/Logistic/providers/Microsoft.Web/sites/ServiceLogistics20180505020236</ResourceId>
    <ResourceGroup>Logistic</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://servicelogistics20180505020236.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>servicelogistics20180505020236.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ServiceLogistics20180505020236</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ServiceLogistics20180505020236</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LogisticsDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:databaseser.database.windows.net,1433;Initial Catalog=LogisticsDB;User ID=pmpetch555;Password=Hisoka08031" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ServiceLogistics.LogisticsDBEntities, ServiceLogistics" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LogisticsDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/LogisticsModel.csdl|res://*/LogisticsModel.ssdl|res://*/LogisticsModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:databaseser.database.windows.net,1433;Initial Catalog=LogisticsDB;User ID=pmpetch555;Password=Hisoka08031"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>